@import '../../styles/variables';
.ant-layout-header{
  height: 80px;
  line-height: 80px;
  background-color: #dfdfdf;
  position: sticky;
  .ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
    border: none !important;
  }
  img {
    height: 58px;
  }
  li:first-child{
    position: absolute;
    left: 0;
  }

  li:nth-last-child(3){
    position: absolute;
    right: 50px;
  }

  li:nth-last-child(2){
    position: absolute;
    right: 0;
  }
}
